@media screen and (min-width: 781px) {
.bg-admin{
    height: 100vh;
    background-color: #f8f6f1;
.blocCreate{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: solid 1px black;
    border-radius: 10px;
    width: max-content;
    .formCreate{
        width: 300px;
        .accepterConditions{
            font-size: small;
        }
    }
}
}
}

/*TABLETTE*/
@media screen and (min-width: 568px) and (max-width: 780px) {
    .bg-admin{
        height: 100vh;
        background-color: #f8f6f1;
    .blocCreate{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        border: solid 1px black;
        border-radius: 10px;
        width: max-content;
        .formCreate{
            width: 300px;
            .accepterConditions{
                font-size: small;
            }
        }
    }
}
}

/* SMARTPHONE */
@media screen and (max-width: 567px) {
    .bg-admin{
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 100px;
        background-color: #f8f6f1;
    .blocCreate{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        border: solid 1px black;
        border-radius: 10px;
        width: max-content;
        .formCreate{
            width: 300px;
            .accepterConditions{
                font-size: small;
            }
        }
    }
}
}