@media screen and (min-width: 781px) {
    .search{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        .searchAvatar{
            width: 15%;
            .avatar{
                width: 3em;
            }
        }
        .searchFirstname{
            width: 20%;
            margin-top: 10px;
        }
        
        .searchName{
            width: 20%;
            margin-top: 10px;
        }
        .searchButton{
            width: max-content;
            height: fit-content;
            margin-top: 5px;
        }
    }
}
    
    @media screen and (min-width: 568px) and (max-width: 780px) {  
        .search{
            width: 100%;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            .searchAvatar{
                width: 20%;
                .avatar{
                    width: 3em;
                }
            }
            .searchFirstname{
                width: 20%;
                margin-top: 10px;
            }
            
            .searchName{
                width: 20%;
                margin-top: 10px;
            }
            .searchButton{
                width: max-content;
                height: fit-content;
                margin-top: 5px;
                .ajouter{
                    font-size: small;
                }
            }
        }
}
    
    @media screen and (max-width: 567px) {
            .grid-admin{                    
                width: 100%;
                display: grid;
                justify-items: center;
                align-items: center;
                grid-template-columns: repeat(1, 1fr);
                border-radius: .5em;
                padding: 10px;
                .search{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 250px;
                    height: max-content;
                    padding: 10px;
                    margin: 10px;
                    background-color: rgba(255, 255, 255);
                    border: 2px solid rgb(85, 85, 85);
                    border-radius: 10px;
                    .searchAvatar{
                        width: 100%;
                        .avatar{
                            width: 3em;
                        }
                    }
                    .searchFirstname{
                        width: 100%;
                        margin-top: 10px;
                    }
                    
                    .searchName{
                        width: 100%;
                        margin-top: 10px;
                    }
                    .searchButton{
                        width: max-content;
                        height: fit-content;
                        margin-top: 5px;
                        .ajouter{
                            font-size: smaller;
                        }
                    }
                }
            }
        hr{
            display: none;
        }
    }