footer{
    position: fixed;
    bottom: 0;
    width: 100%;   
    .admin{
        border-top: solid 1px rgb(33, 37, 41);
        .adminLink{
            text-decoration: none;
            list-style-type: none;
        }
    }
}