@media screen and (min-width: 781px) {
.footerParameter{
    width: 100%;
    height: max-content;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5d502d;
    p a{
        color: #f8f6f1;
    }
    .textAdmin{
        color: orange;
    }
}
}

@media screen and (min-width: 568px) and (max-width: 780px) {
    .footerParameter{
        width: 100%;
        height: max-content;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        background-color: #5d502d;
        p a{
            color: #f8f6f1;
        }
        .textAdmin{
            color: rgb(255, 166, 0);
        }
    }
}

@media screen and (max-width: 567px) {
    .footerParameter{
        width: 100%;
        height: max-content;
        display: block;
        background-color: #5d502d;
        p a{
            color: #f8f6f1;
        }
        .textAdmin{
            color: orange;
        }
    }
}