@media screen and (min-width: 781px) {
.bg-user{
    background-color: rgb(248, 249, 250);
.contenuPrincipal{
    width: 100%;
    height: 100%;
    display: inline-flex;
    .blocMessage{
        width: 80%;
        height: 100vh;
        border-left: solid 1px rgb(236, 236, 236);
        .titreMessage{
            border-top: solid 1px rgb(236, 236, 236);
            border-left: solid 1px rgb(236, 236, 236);
        }
        .blocContenu{
            width: 60%;
            margin-left: 20%;
            margin-right: 20%;
            overflow-y: scroll;
            display: flex;
            height: 50px;
            border: solid 1px rgb(33, 37, 41);
            align-items: center;
            justify-content: center;
            margin-top: 20%;
        }
        .blocContenu::-webkit-scrollbar{
            background-color: rgb(248, 249, 250);
            width: 10px;
        }
        .blocContenu::-webkit-scrollbar-thumb{
            background-color: rgb(33, 37, 41);
            border-radius: 50px;
        }
    }

    .blocAmis{
        width: 20%;
        height: 100vh;
        border-right: solid 1px rgb(236, 236, 236);
        button{
            pointer-events: none;
            width: 100%;
            padding: 0;
        }
        .titreAmis{
            border-top: solid 1px rgb(236, 236, 236);
            border-right: solid 1px rgb(236, 236, 236);
        }
        .blocContenu{
            margin: 0;
            padding: 0;
            overflow-y: scroll;
            height: 100vh;
            border-right: solid 1px rgb(236, 236, 236);
        }
        .blocContenu::-webkit-scrollbar{
            background-color: rgb(248, 249, 250);
            width: 10px;
        }
        .blocContenu::-webkit-scrollbar-thumb{
            background-color: rgb(33, 37, 41);
            border-radius: 50px;
        }
    }
}
}
}


@media screen and (min-width: 568px) and (max-width: 780px) {   
    .bg-user{
        background-color: rgb(248, 249, 250);
    .contenuPrincipal{
        width: 100%;
        height: 100%;
        display: inline-flex;
        .blocMessage{
            width: 70%;
            height: 100vh;
            border-left: solid 1px rgb(236, 236, 236);
            border-top: solid 1px rgb(236, 236, 236);
            .titremessage{
                border-left: solid 1px rgb(236, 236, 236);
            }
            .blocContenu{
                overflow-y: scroll;
                display: flex;
                border-radius: 10px;
                height: 50px;
                border: solid 1px rgb(33, 37, 41);
                align-items: center;
                justify-content: center;
                margin-top: 40%;
            
            }
            .blocCntenu::-webkit-scrollbar{
                background-color: rgb(248, 249, 250);
                width: 10px;
            }
            .blocContenu::-webkit-scrollbar-thumb{
                background-color: rgb(33, 37, 41);
                border-radius: 50px;
            }
        }
    
        .blocAmis{
            width: 30%;
            height: 100vh;
            border-top: solid 1px rgb(236, 236, 236);
            border-right: solid 1px rgb(236, 236, 236);
            button{
                pointer-events: none;
                width: 100%;
                padding: 0;
            }
            .titreAmis{
                border-left: solid 1px rgb(236, 236, 236);
            }
            .blocContenu{
                margin: 0;
                padding: 0;
                overflow-y: scroll;
                height: 100vh;
            }
            .blocContenu::-webkit-scrollbar{
                background-color: rgb(248, 249, 250);
                width: 10px;
            }
            .blocContenu::-webkit-scrollbar-thumb{
                background-color: rgb(33, 37, 41);
                border-radius: 50px;
            }
        }
    }
    }
}
    @media screen and (max-width: 567px) {  
        .bg-user{
            background-color: rgb(248, 249, 250);
        .contenuPrincipal{
            width: 100%;
            height: 100%;
            .blocMessage{
                width: 100%;
                .blocContenu{
                    display: flex;
                    border-radius: 10px;
                    height: 50px;
                    border: solid 1px rgb(33, 37, 41);
                    align-items: center;
                    justify-content: center;
                    margin-top: 40%;
                }
            }
        
            .blocAmis{
                width: 100%;
                border-top: solid 1px rgb(248, 249, 250);
                border-bottom: solid 1px rgb(216, 216, 216);
                button{
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }
                // .blocContenu{
                //     display:none;
                // }
            }
        }
    }
}