.mode{
    margin-top: 2%;
    width: 100%;
    .btnDelete{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}