@media screen and (min-width: 781px) {
.bg_modal_feed{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    backdrop-filter: blur(2px);
    position: fixed;
    display: flex;
    justify-content: center;
    .content_modal_feed{
    width: 40%;
    height: max-content;
    margin-top: 100px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    .titleCloseBtn{
        display: flex;
        justify-content: flex-end;
    }
    .blocPubli{
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        .nomPubli{
            display: inline-flex;
            width: 100%;
            .imgProfil{
                display: flex;
                background-color: rgb(248, 249, 250);
                width: 25px;
                height: 25px;
                border: solid 1px rgb(33, 37, 41);
                border-radius: 50%;
            }
            .nameFirstname{
                width: 70%;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .blocCommentaire{
            width: 100%;
            background-color: rgb(248, 249, 250);
            border: solid 1px rgb(197, 197, 197);
            border-radius: 10px;
            padding: 10px;
        }
    }
    .formModale{
        background-color: rgb(255, 255, 255);
        border: none;
        input{
            width: 90%;
            height: 35px;
            border: solid 1px rgb(221, 221, 221);
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
            padding-left: 5px;
        }
        button{
            padding: 0;
            margin: 0;
            width: 10%;
            background-color: white;
            height: 35px;
        }
    }
}
}
}

@media screen and (min-width: 568px) and (max-width: 780px) {
    .bg_modal_feed{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        backdrop-filter: blur(2px);
        position: fixed;
        display: flex;
        justify-content: center;
        .content_modal_feed{
        width: 60%;
        height: max-content;
        margin-top: 100px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .titleCloseBtn{
            display: flex;
            justify-content: flex-end;
        }
        .blocPubli{
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            .nomPubli{
                display: inline-flex;
                width: 100%;
                .imgProfil{
                    display: flex;
                    background-color: rgb(248, 249, 250);
                    width: 25px;
                    height: 25px;
                    border: solid 1px rgb(33, 37, 41);
                    border-radius: 50%;
                }
                .nameFirstname{
                    width: 70%;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .blocCommentaire{
                width: 100%;
                background-color: rgb(248, 249, 250);
                border: solid 1px rgb(197, 197, 197);
                border-radius: 10px;
                padding: 10px;
            }
        }
        .formModale{
            background-color: rgb(255, 255, 255);
            border: none;
            input{
                width: 80%;
                height: 35px;
                border: solid 1px rgb(221, 221, 221);
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                padding-left: 5px;
            }
            button{
                padding: 0;
                margin: 0;
                width: 20%;
                background-color: white;
                height: 35px;
            }
        }
    }
    }
}

@media screen and (max-width: 567px) {
    .bg_modal_feed{
        z-index: 2;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        backdrop-filter: blur(2px);
        position: fixed;
        display: flex;
        justify-content: center;
        .content_modal_feed{
        width: 90%;
        height: max-content;
        margin-top: 70px;
        border-radius: 12px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        .titleCloseBtn{
            display: flex;
            justify-content: flex-end;
        }
        .blocPubli{
            width: 100%;
            margin-top: 10px;
            padding: 10px;
            .nomPubli{
                display: inline-flex;
                width: 100%;
                .imgProfil{
                    display: flex;
                    background-color: rgb(248, 249, 250);
                    width: 25px;
                    height: 25px;
                    border: solid 1px rgb(33, 37, 41);
                    border-radius: 50%;
                }
                .nameFirstname{
                    width: 70%;
                    margin-left: 10px;
                    margin-right: 10px;
                }
            }
            .blocCommentaire{
                width: 100%;
                background-color: rgb(248, 249, 250);
                border: solid 1px rgb(197, 197, 197);
                border-radius: 10px;
                padding: 10px;
            }
            
        }
        .formModale{
            background-color: rgb(255, 255, 255);
            border: none;
            input{
                width: 80%;
                height: 35px;
                border: solid 1px rgb(221, 221, 221);
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                padding-left: 5px;
            }
            button{
                padding: 0;
                margin: 0;
                width: 20%;
                background-color: white;
                height: 35px;
            }
        }
    }
    }
}