@media screen and (min-width: 781px) {
    .bg-admin{
        background-color: #b4c6d6;
        height: 100vh;
    .blocUpdate{
        display: flex;
        margin: 0 auto;
        justify-content: center;
        .formUpdate{
            width: 300px;
        }
    }
    }
}
    
    /*TABLETTE*/
    @media screen and (min-width: 568px) and (max-width: 780px) {
        .bg-admin{
            background-color: #b4c6d6;
            height: 100vh;
        .blocUpdate{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .formUpdate{
                width: 300px;
            }
        }
    }
}
    
    /* SMARTPHONE */
    @media screen and (max-width: 567px) {
        .bg-admin{
            background-color: #b4c6d6;
            height: 100vh;
        .blocUpdate{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            .formUpdate{
                width: 300px;
            }
        }
    }
    }